html, body {
 
  align-content: center;
  background-color: #C3CDDB;
}
 
canvas {
  display: block;
}
 
.canvasDiv{
  display: flex;
  justify-content: center;
}
 
.header {
  padding: 45px;
  text-align: center;
  background-color: #909FB2;
  color: white;
  font-size: 30px;
}
 
h1{
  font-family: monospace;
  font-size: 40px;
  text-align: center;
 
}
 
h2{
  font-family: monospace;
  font-size: 24px;
  text-align: center;
}
 
 
p{
  text-align: left;
  font-size: 14px;
  font-family: monospace;
  text-indent: 25px;
}
 
 
section {
  /* reference for -webkit-flex from w3schools */
  display: -webkit-flex;
  display: flex;
  font-family: monospace;
}
 
nav {
  /* reference for -webkit-flex from w3schools */
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #909FB2;
  font-family: monospace;
  font-size: 24px;
  text-align: center;
  padding: 20px;
}
 
nav ul {
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  list-style-type: none;
  padding: 0;
}
 
 
article {
  /* reference for -webkit-flex from w3schools */
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #4E6695;
  color:white;
  padding: 10px;
  font-family: monospace;
  font-size: 20px;
  text-align: left;
}
 
footer{
  background-color: #C3CDDB;
  color: #2E3B55;
  padding: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
}
