body{
    background-color: cornflowerblue;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}


.highlighted{
    color: white;
}

.pork{
    color: coral;
    font-weight: bold;
    background-color: bisque;
}

#listHeadline{
    background-color: black;
}